APP_ENV=production
# Mostra erros do PHP em desenvolvimento
APP_DEBUG=true
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_NAME=development_db
DB_USER=senac
DB_PASSWORD=senac
TZ=America/Porto_Velho

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=senac
REDIS_DATABASE=1
REDIS_PREFIX=SESS:
REDIS_TIMEOUT=2.5
REDIS_READ_TIMEOUT=2.5
REDIS_PERSISTENT=1

GOOGLE_CLIENT_ID=1035137357681-gbar9dnv0i31dfdbre6t2uiitq0jf926.apps.googleusercontent.com

# Em desenvolvimento - 1 para revalidar arquivos, em produção - 0
OPCACHE_VALIDATE_TIMESTAMPS=1

# Xdebug desligado por padrão - use "debug" quando precisar de breakpoints
XDEBUG_MODE=off

APP_DOMAIN=localhost